body{
font-family: 'Roboto', sans-serif;
}
/*** navbar***/
.nav-item {
    letter-spacing : .2em;
    font-size : 12px;
    text-transform : uppercase;
}
.dropdown-item{
    letter-spacing : .2em;
    font-size : 14px;
    text-transform : uppercase;
}
/*** footer ***/
.my_footer{
    background-color:#f8f9fa;
    position:absolute;
    height : 60px;
    width:100%
    padding-top:150px;
}
.my_footer p{
    padding-top:10px;
    font-size:14px;
}

.my_row_class{
    padding-top: 20px;
}
.my_row_class .mx_auto{
    color:#000;
    font-size:15px;
}
.my_image{
    width : 100%;
    height : auto;
}
.my_title{

    text-transform : uppercase;
    letter-spacing : .2em;
}
.my_image_padding{
    padding : 5px;
}
.my_bottom_margin{
    margin-bottom:20px;
}
.card-body h4{
    font-size: 14px;
    text-transform : uppercase;
    letter-spacing : .2em;
}
